body, div, a, p, span{
	    user-select: text !important;
      }

	  body{
	    background: #F5F5F5;
	    font-family: Hind Siliguri;
        font-style: normal;
      }

	  p, h1, h2, h3, h4, h5, h6{
        cursor: auto;
        user-select: text !important;
        }::selection{
        background-color: #338FFF !important;
	  }
	  #myDataTable thead th {
		  background-color: #E1EFFE;
	  }

     #map {
        /*position: relative;*/
        height: 400px;
        height: 730px;
        width: 100%;
     }

    .info {
      padding: 6px 8px;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }




.leaflet-control.leaflet-compass {
	position:relative;
	color:#1978cf;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*background-color: rgba(0, 0, 0, 0.25);*/
	background-color: rgba(255, 255, 255, 0.8);
	/*background: none;*/
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	margin-left:10px;
	margin-top:10px;
}
.leaflet-compass .compass-button {
	display:block;
	float:left;
	width:80px;
	height:80px;
	border-radius:4px;
}
.leaflet-compass .compass-button.active {
	background: #fff;
}
.leaflet-compass .compass-icon {
	height: 75px;
	width: 75px;
	margin: 2px;
	background: url('../image/compass.jpg') center center no-repeat;
}


.leaflet-compass .compass-alert {
	position:absolute;
	right:50;
	bottom:50px;
	width:100px;
	padding:2px;
	line-height:.95em;
	color:#e00;
	border: 1px solid #888;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius:4px;
}




.leaflet-pane svg{
    content:"";
    position: fixed;
    /*background-image:url('../image/sliderOverlay.png');*/
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    mix-blend-mode: multiply;
}
/*
svg {
    position: absolute;
    z-index: -1;
    /* Box shadow to create a black shed effect */
    /*box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}*/
/*
.*/

/*
#blackOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(3, 71, 92, 0.78) 0.27%, rgba(0, 53, 70, 0.78) 52.93%, rgba(5, 76, 99, 0.58) 98.76%);
    pointer-events: none; /* Allow interactions with the map under the overlay *//*
}*/

