<!--<!DOCTYPE html>-->
<!--<html lang="en" style="scroll-behavior:smooth" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta name="description" content="">-->
<!--  <meta name="author" content="">-->
<!--  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">-->

<!--  <title>Graveyard interactive screen</title>-->



<!--  &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<!--  &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--  <link th:href="@{/plugins/starter/starter-template.css}" rel="stylesheet">-->
<!--  <style type="text/css" data-asas-style="">-->
<!--	  body, div, a, p, span{ user-select: text !important; }-->
<!--	  p, h1, h2, h3, h4, h5, h6{ cursor: auto; user-select: text !important; }::selection{ background-color: #338FFF !important; color: #fff !important; }-->
<!--	  #myDataTable thead th {-->
<!--		  background-color: #E1EFFE;-->
<!--		}-->

<!--		.card-footer button {-->
<!--			background-color: #007bff;-->
<!--			color: #fff;-->
<!--			border: none;-->
<!--			padding: 10px 20px;-->
<!--		}-->


<!--		.card-footer button i {-->
<!--			margin-right: 5px;-->
<!--		}-->
<!--	  .container, .container-lg, .container-md, .container-sm, .container-xl-->
<!--	  {-->
<!--	  max-width: 1800px;-->
<!--		}-->

<!--	  </style>-->



<!--</head>-->
<!--<body>-->

<!--    <div th:fragment="navbar">-->
<!--      <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">-->
<!--      <img th:src="@{/resource/icon.png}" alt="Your Logo" width="24" height="24" style="margin-right: 10px; width: 24px; height: 24px; padding: 3.29px 7.29px 3.29px 6.59px; border-radius: 3px; background: #1175BD;">-->
<!--      <span style="width: 760px; height: 29px; font-family: Inter; font-weight: 400; line-height: 29px; letter-spacing: 0em; text-align: left;">পূর্ববর্তী পেজে যান</span>-->
<!--      <div class="collapse navbar-collapse" >-->
<!--        <img th:src="@{/resource/Group7241.png}" alt="Your Logo" width="30" height="30" style="margin-right: 10px;">-->
<!--        কবরস্থান ব্যবস্থাপনা সিস্টেম-->

<!--      </div>-->
<!--      </nav>-->
<!--    </div>-->

<!--  <main role="main" class="container">-->
<!--  <div class="row">-->
<!--    <nav aria-label="breadcrumb "  >-->
<!--      <ol class="breadcrumb  mb-5  ">-->
<!--        <li class="breadcrumb-item "><a class="black-text active-2" th:href="@{/}"><img  id ="home" src="https://img.icons8.com/ios-filled/50/000000/dog-house.png" class="mr-md-2 mr-1 mb-1 "  width="22" height="19"><span  >হোম</span></a><img class="ml-md-3 ml-1" src="https://img.icons8.com/metro/50/000000/chevron-right.png " width="20" height="20"> </li>-->
<!--        <li class="breadcrumb-item "><a class="black-text active-2" href="#"><span >কবর অনুসন্ধান</span></a><img class="ml-md-3 ml-1" src="https://img.icons8.com/metro/50/000000/chevron-right.png " width="20" height="20"></li>-->
<!--      </ol>-->
<!--    </nav>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    &lt;!&ndash; Left Card with Filter Options &ndash;&gt;-->

<!--    <div class="col-md-12 mb-2">-->
<!--      <div class="card">-->
<!--        <div class="card-header">প্রয়োজনীয় তথ্য দিয়ে অনুসন্ধান করুন</div>-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <div class="form-group">-->
<!--                <label for="MemoFilter">মেমো নং</label>-->
<!--                <input type="text" class="form-control" id="MemoFilter">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--              <div class="form-group">-->
<!--                <label for="DeadnameFilter">মৃত্যু ব্যক্তির নাম</label>-->
<!--                <input type="text" class="form-control" id="DeadnameFilter">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--              <div class="form-group">-->
<!--                <label for="DeaddayFilter">মৃত্যুর তারিখ</label>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="DeaddayFilter" >-->
<!--                        <option value="" disabled selected>দিন</option>-->
<!--                        <option value="01">১</option>-->
<!--                        <option value="02">২</option>-->
<!--                        &lt;!&ndash; Add more day options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="DeadmonthFilter" >-->
<!--                        <option value="" selected>মাস</option>-->
<!--                        <option value="01">জানুয়ারী</option>-->
<!--                        <option value="02">ফেব্রুয়ারী</option>-->
<!--                        &lt;!&ndash; Add more month options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="DeadyearFilter" >-->
<!--                        <option value="" selected>সাল</option>-->
<!--                        <option value="2023">২০২৩</option>-->
<!--                        <option value="2022">২০২২</option>-->
<!--                        &lt;!&ndash; Add more year options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--              <div class="form-group">-->
<!--                <label for="BurieddayFilter">দাফনের তারিখ</label>-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="BurieddayFilter" >-->
<!--                        <option value="" disabled selected>দিন</option>-->
<!--                        <option value="01">১</option>-->
<!--                        <option value="02">২</option>-->
<!--                        &lt;!&ndash; Add more day options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="BuriedmonthFilter" >-->
<!--                        <option value="" selected>মাস</option>-->
<!--                        <option value="01">জানুয়ারী</option>-->
<!--                        <option value="02">ফেব্রুয়ারী</option>-->
<!--                        &lt;!&ndash; Add more month options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                  <div class="col-sm-4">-->
<!--                    <div class="form-group">-->
<!--                      <select class="form-control" id="BuriedyearFilter" >-->
<!--                        <option value="" selected>সাল</option>-->
<!--                        <option value="2023">২০২৩</option>-->
<!--                        <option value="2022">২০২২</option>-->
<!--                        &lt;!&ndash; Add more year options as needed &ndash;&gt;-->
<!--                      </select>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--                <div class="col-md-1">-->
<!--                  <div class="form-group">-->
<!--                    <label>&nbsp;</label>-->
<!--                    <div>-->
<!--&lt;!&ndash;                      <a th:href="@{/BuriedSearch}">&ndash;&gt;-->
<!--                    <button id="searchBtn" type="button" class="btn btn-primary btn-sm ">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">-->
<!--                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>-->
<!--                      </svg>-->
<!--                    </button>-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



<!--    &lt;!&ndash; Right Card with Data Table &ndash;&gt;-->
<!--    <div class="col-md-12">-->
<!--      <div class="card" style="height: 100%;">-->

<!--        <div class="card-body">-->
<!--          &lt;!&ndash; DataTable &ndash;&gt;-->
<!--          <table id="myDataTable" class="display" style="width:100%">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th style="display:none">Id</th>-->
<!--              <th style="display:none">GraveId</th>-->
<!--              <th>মেমো নং</th>-->
<!--              <th>মৃত্যুর তারিখ</th>-->
<!--              <th>মৃত্যু ব্যক্তির নাম</th>-->
<!--              <th>পিতাম নাম</th>-->
<!--              <th>দাফনের তারিখ</th>-->
<!--              <th>ঠিকানা</th>-->
<!--              <th>স্ট্যাটাস</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                &lt;!&ndash;              <td colspan="7" style="text-align: center;">&ndash;&gt;-->
<!--                &lt;!&ndash;                <div style="display: flex; flex-direction: column; align-items: center;">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <img th:src="@{/resource/popup.png}" alt="Popup Image" width="350" height="350">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <p>কোন ডাটা অনুসন্ধান করে পাওয়া যায় নি</p>&ndash;&gt;-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                &lt;!&ndash;              </td>&ndash;&gt;-->
<!--                <td style="display:none"></td>-->
<!--                <td style="display:none"></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--                <td></td>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</main>&lt;!&ndash; /.container &ndash;&gt;-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->

<!--&lt;!&ndash;<script src="/plugins/popper/popper.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script th:src="@{/plugins/bootstrap.js/bootstrap.min.js}"></script>&ndash;&gt;-->
<!--<script src="/plugins/jquery/jquery.min.js"></script>-->
<!--<script src="/plugins/datatables/jquery.datatables.min.js"></script>-->
<!--&lt;!&ndash;    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://cdn.datatables.net/1.11.8/js/jquery.dataTables.min.js"></script>&ndash;&gt;-->

<!--    <script>-->
<!--   $(document).ready(function()-->
<!--    {-->
<!--              var gidValue = '2';-->
<!--              var myDataTable = $('#myDataTable').DataTable({-->
<!--                 "responsive": true,-->
<!--                  "lengthChange": false,-->
<!--                  "autoWidth": true,-->
<!--                  "paging": true,-->
<!--                  "fixedHeader": true,-->
<!--                  "select": true,-->
<!--                  "processing": false,-->
<!--                  "destroy": true,-->
<!--                  columns: [-->
<!--                    { data: 'dec_id', visible: false },-->
<!--                    { data: 'graveyard_id' , visible: false },-->
<!--                    { data: 'memo_no' },-->
<!--                    { data: 'dod' },-->
<!--                    { data: 'dec_name' },-->
<!--                    { data: 'father' },-->
<!--                    { data: 'bur_date' },-->
<!--                    { data: 'address' },-->
<!--                    {-->
<!--                          data: null,-->
<!--                          render: function (data, type, row) {-->
<!--                              if (data && data.dec_id && data.graveyard_id) {-->

<!--&lt;!&ndash;                                  return '<a th:href="@{/graveDetails_withPosition/{id}(id=${\'dec_id\'})}" class="btn">Details</a>';&ndash;&gt;-->
<!--                                      var url = '/graveDetails_withPosition/' + data.dec_id + '?gid=' + data.graveyard_id;-->
<!--                                      return '<a href="' + url + '" class="btn">Details</a>';-->
<!--                              }-->
<!--                              else {-->
<!--                                  // If data is not available, return an empty string-->
<!--                                  return '';-->
<!--                              }-->
<!--                          }-->
<!--                      }-->
<!--                  ]-->
<!--              });-->
<!--              function loadDetailsPage(dec_id, graveyard_id) {-->
<!--                      window.location.href = '/graveDetails_withPosition/?id=' + dec_id + '&gid=' + graveyard_id;-->
<!--              }-->

<!--            $('#searchBtn').on('click', function() {-->
<!--                 var memoFilter = $('#MemoFilter').val();-->
<!--                 var deadNameFilter = $('#DeadnameFilter').val();-->
<!--                 var deadDayFilter = $('#DeaddayFilter').val();-->
<!--                 var deadMonthFilter = $('#DeadmonthFilter').val();-->
<!--                 var deadYearFilter = $('#DeadyearFilter').val();-->
<!--                 var buriedDayFilter = $('#BurieddayFilter').val();-->
<!--                 var buriedMonthFilter = $('#BuriedmonthFilter').val();-->
<!--                 var buriedYearFilter = $('#BuriedyearFilter').val();-->

<!--                 // Prepare the request data-->
<!--                 var requestData = {-->
<!--                    graveyardId: '2',-->
<!--                    memo: memoFilter,-->
<!--                    name: deadNameFilter,-->
<!--                    dod_day: '',-->
<!--                    dod_month: deadMonthFilter,-->
<!--                    dod_year: deadYearFilter,-->
<!--                    bur_day: '',-->
<!--                    bur_month: buriedMonthFilter,-->
<!--                    bur_year: buriedYearFilter-->
<!--                 };-->


<!--                  $.ajax({-->
<!--                    url: '/api/search',-->
<!--                    method: 'POST',-->
<!--                    contentType: 'application/json',-->
<!--                    data: JSON.stringify(requestData),-->
<!--                    success: function(data) {-->
<!--                    console.log(data)-->
<!--                      myDataTable.clear();-->
<!--                          if (data.data.length > 0) {-->
<!--                            myDataTable.rows.add(data.data).draw();-->
<!--                            $('.btn').on('click', function() {-->
<!--                                var rowData = myDataTable.row($(this).parents('tr')).data();-->
<!--                                loadDetailsPage(rowData.dec_id,rowData.graveyard_id);-->
<!--                            });-->
<!--                        }-->
<!--                    },-->
<!--                    error: function(error) {-->
<!--                      console.error('Error performing search:', error);-->
<!--                    }-->
<!--                  });-->
<!--           });-->
<!--   });-->
<!--</script>-->




<!--</body>-->


<!--</html>-->