<!DOCTYPE html>
<html lang="en" style="scroll-behavior:smooth" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Graveyard interactive screen</title>



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Hind Siliguri' rel='stylesheet'>

  <!-- Custom styles for this template -->
  <link th:href="@{/plugins/starter/starter-template.css}" rel="stylesheet">


  <style data-asas-style="">
	  body, div, a, p, span{ user-select: text !important; }
	  p, h1, h2, h3, h4, h5, h6{
	    cursor: auto;
	    user-select: text !important;
	  }::selection{
	    background-color: #338FFF !important;
	    color: #fff !important;
	  }
	  #myDataTable thead th {
		  background-color: #E1EFFE;
		  padding: 15px 10px;
	  }


		.card-footer button {
			background-color: #007bff;
			color: #fff;
			border: none;
			padding: 10px 20px;
		}


		.card-footer button i {
			margin-right: 5px;
		}
	  .container, .container-lg, .container-md, .container-sm, .container-xl
	  {
	  max-width: 1800px;
		}

    .bg{
      position: fixed;
      z-index: -1000; /* Z-Index is -1000 just to be safe */
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

    p{
      margin: auto;
      align-content: center;
    }


  #bg-top:before {
  content:"";
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:1;
  background: linear-gradient(180deg, rgba(3, 71, 92, 0.78) 0.27%, rgba(0, 53, 70, 0.78) 52.93%, rgba(5, 76, 99, 0.58) 98.76%);
  mix-blend-mode: multiply;
}

#bg-top {
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

  #myDataTable_filter{
    display: none;
  }


  .sorting{
    color: #205F8B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  .card-body{
    border-radius: 20px;
    border-color: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }


  </style>



</head>
<body>

  <div th:replace="CommonTemp/navBar.html :: navbar"></div>

  <main role="main" class="container overflow-hidden" style="margin: 0; padding: 0 4%;">
  <div class="row gx-5">

    <div id="bg-top">
      <div class="video-background" style="margin-top: -20px;">
        <div class="bg">
          <img th:src="@{/resource/Grave_QR1.png}" alt="BG">
        </div>
      </div>
    </div>


    <div class="row" style="padding: 0px;margin: 1% 0px;margin-top: 2%;">
      <ol class="breadcrumb" style="background: none; color: white; padding: 0 1rem; margin: 0px;">
        <li class="breadcrumb-item">
          <a class="active-2" th:href="@{/}" style="display: inline;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.90727 8.33332L9.90837 3.33222L14.9095 8.33332H14.9084V16.6667H4.90839V8.33332H4.90727ZM3.24172 9.99887L2.01104 11.2296L0.833374 10.0519L8.73086 2.1544C9.38118 1.50408 10.4356 1.50408 11.0859 2.1544L18.9834 10.0519L17.8057 11.2296L16.5751 9.99889V16.6667C16.5751 17.5871 15.8289 18.3333 14.9084 18.3333H4.90839C3.98791 18.3333 3.24172 17.5871 3.24172 16.6667V9.99887Z" fill="white"/>
            </svg>
            <p style="color: white; display: inline; cursor: pointer;">হোম</p>
          </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9226 3.92259L12.7441 2.74408L5.48817 10L12.7441 17.2559L13.9226 16.0774L7.8452 10L13.9226 3.92259Z" fill="#D1D5DB"/>
          </svg>
          <a class="active-2" href="#" style="display: inline;">
            <p style="color: white; display: inline; cursor: pointer;">কবর অনুসন্ধান</p>
          </a>
        </li>

      </ol>
    </div>
  </div>

<!--    <div class="row">-->
<!--      <div class="col-md-3" style="background: #FFF;">-->
<!--        প্রয়োজনীয় তথ্য দিয়ে অনুসন্ধান করুন-->
<!--      </div>-->
<!--      <div class="col-md-9">-->
<!--        প্রয়োজনীয় তথ্য দিয়ে অনুসন্ধান করুন প্রয়োজনীয় তথ্য দিয়ে অনুসন্ধান করুন-->

<!--      </div>-->
<!--    </div>-->



  <div class="row" style="height: 100%;">
    <!-- Left Card with Filter Options -->

    <div class="col-md-4">
      <div class="card" style="padding: 20px; padding-left: 40px;
      padding-right: 40px; padding-bottom: 40px; border-radius: 20px;
      background: #FFF; height: 100%;">
        <div>
          <p style="color: #205F8B;
              font-family: Hind Siliguri;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin: auto;
              align-content: center;
              padding: 15px 0px;
              display: flex;
<!--              justify-content: center;-->
              align-items: center;">
            প্রয়োজনীয় তথ্য দিয়ে অনুসন্ধান করুন
          </p>
        </div>
        <div class="card-body"
             style="display: flex;
                    padding: 20px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 30px;
                    border-radius: 10px;
                    background: #EBEBEB;">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="MemoFilter">মেমো নং</label>
                <input type="text" class="form-control" id="MemoFilter">
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label for="DeadnameFilter">মৃত্যু ব্যক্তির নাম</label>
                <input type="text" class="form-control" id="DeadnameFilter">
              </div>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <label for="DeaddayFilter">মৃত্যুর তারিখ</label>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="DeaddayFilter" >
                        <option value="" disabled selected>দিন</option>
                        <option value="01">১</option>
                        <option value="02">২</option>
                        <!-- Add more day options as needed -->
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="DeadmonthFilter" >
                        <option value="" selected>মাস</option>
                        <option value="01">জানুয়ারী</option>
                        <option value="02">ফেব্রুয়ারী</option>
                        <!-- Add more month options as needed -->
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="DeadyearFilter" >
                        <option value="" selected>সাল</option>
                        <option value="2023">২০২৩</option>
                        <option value="2022">২০২২</option>
                        <!-- Add more year options as needed -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="BurieddayFilter">দাফনের তারিখ</label>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="BurieddayFilter" >
                        <option value="" disabled selected>দিন</option>
                        <option value="01">১</option>
                        <option value="02">২</option>
                        <!-- Add more day options as needed -->
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="BuriedmonthFilter" >
                        <option value="" selected>মাস</option>
                        <option value="01">জানুয়ারী</option>
                        <option value="02">ফেব্রুয়ারী</option>
                        <!-- Add more month options as needed -->
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="form-control" id="BuriedyearFilter" >
                        <option value="" selected>সাল</option>
                        <option value="2023">২০২৩</option>
                        <option value="2022">২০২২</option>
                        <!-- Add more year options as needed -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
<!--              <div class="form-group">-->


<!--                      <a th:href="@{/BuriedSearch}">-->
                <button id="searchBtn" type="button" class="btn btn-primary" style="width: 100%;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                  </svg>
                </button>
<!--                    </a>-->

<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Right Card with Data Table -->
    <div class="col-md-8">
      <div class="card" style="height: 100%; border-radius: 20px;">

        <div class="card-body table-responsive" style="padding: 0;">
          <!-- DataTable style="background: #E1EFFE; border-radius: 20px 20px 0px 0px;"-->
          <table class="table align-middle" id="myDataTable"
                 style="width: 100%; border-radius: 20px;">
            <thead>
              <tr>
                <th style="display:none">Id</th>
                <th style="display:none">GraveId</th>
                <th>মেমো নং</th>
                <th>মৃত্যুর তারিখ</th>
                <th>মৃত্যু ব্যক্তির নাম</th>
                <th>পিতার নাম</th>
                <th>দাফনের তারিখ</th>
                <th>ঠিকানা</th>
                <th>স্ট্যাটাস</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--              <td colspan="7" style="text-align: center;">-->
                <!--                <div style="display: flex; flex-direction: column; align-items: center;">-->
                <!--                  <img th:src="@{/resource/popup.png}" alt="Popup Image" width="350" height="350">-->
                <!--                  <p>কোন ডাটা অনুসন্ধান করে পাওয়া যায় নি</p>-->
                <!--                </div>-->
                <!--              </td>-->
                <td style="display:none"></td>
                <td style="display:none"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!--<script src="/plugins/popper/popper.min.js"></script>-->
<!--<script th:src="@{/plugins/bootstrap.js/bootstrap.min.js}"></script>-->
<script src="/plugins/jquery/jquery.min.js"></script>
<script src="/plugins/datatables/jquery.datatables.min.js"></script>
<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.11.8/js/jquery.dataTables.min.js"></script>-->

    <script>
   $(document).ready(function()
    {
              var gidValue = '2';
              var myDataTable = $('#myDataTable').DataTable({
                 "responsive": true,
                  "lengthChange": false,
                  "autoWidth": true,
                  "paging": true,
                  "fixedHeader": true,
                  "select": true,
                  "processing": false,
                  "destroy": true,
                  columns: [
                    { data: 'dec_id', visible: false },
                    { data: 'graveyard_id' , visible: false },
                    { data: 'memo_no' },
                    { data: 'dod' },
                    { data: 'dec_name' },
                    { data: 'father' },
                    { data: 'bur_date' },
                    { data: 'address' },
                    {
                          data: null,
                          render: function (data, type, row) {
                              if (data && data.dec_id && data.graveyard_id) {
                                  return '<button type="button" class="btn btn-block btn-success btn-sm"> Details </button>';
                              }
                              else {
                                  // If data is not available, return an empty string
                                  return '';
                              }
                          }
                      }
                  ]
              });
              function loadDetailsPage(dec_id, graveyard_id) {
                      window.location.href = '/graveDetails_withPosition?id=f2c71196-7c27-4507-9fdb-d96971ceccb6&gid=2';
<!--                      window.location.href = '/BuriedSearch';-->
              }

            $('#searchBtn').on('click', function() {
                 var memoFilter = $('#MemoFilter').val();
                 var deadNameFilter = $('#DeadnameFilter').val();
                 var deadDayFilter = $('#DeaddayFilter').val();
                 var deadMonthFilter = $('#DeadmonthFilter').val();
                 var deadYearFilter = $('#DeadyearFilter').val();
                 var buriedDayFilter = $('#BurieddayFilter').val();
                 var buriedMonthFilter = $('#BuriedmonthFilter').val();
                 var buriedYearFilter = $('#BuriedyearFilter').val();

                 // Prepare the request data
                 var requestData = {
                    graveyardId: '2',
                    memo: memoFilter,
                    name: deadNameFilter,
                    dod_day: '',
                    dod_month: deadMonthFilter,
                    dod_year: deadYearFilter,
                    bur_day: '',
                    bur_month: buriedMonthFilter,
                    bur_year: buriedYearFilter
                 };


                  $.ajax({
                    url: '/api/search',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestData),
                    success: function(data) {
                    console.log(data)
                      myDataTable.clear();
                          if (data.data.length > 0) {
                            myDataTable.rows.add(data.data).draw();
                            $('.btn').on('click', function() {
                                var rowData = myDataTable.row($(this).parents('tr')).data();
                                loadDetailsPage(rowData.dec_id,rowData.graveyard_id);
                            });
                        }
                    },
                    error: function(error) {
                      console.error('Error performing search:', error);
                    }
                  });
           });
   });




</script>




</body>


</html>