<!DOCTYPE html>
<html lang="en" style="scroll-behavior:smooth" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Graveyard interactive screen</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
  <link href='https://fonts.googleapis.com/css?family=Hind Siliguri' rel='stylesheet'>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link th:href="@{/plugins/starter/starter-template.css}" rel="stylesheet">
  <style type="text/css" data-asas-style="">

  </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script th:src="@{Control.FullScreen.css}"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script th:src="@{Control.FullScreen.js}"></script>

    <script th:src="@{Graveyard_Banani_Grave_Qgis_4326.js}"></script>
    <script th:src="@{Road_Banani.js}"></script>
</head>

<body >

<div th:replace="CommonTemp/navBar.html :: navbar"></div>
<main role="main" class="overflow-hidden"
      style="margin-top: 98px; padding: 0 4%; height: 100%; width: 100%; padding: 0px 40px 40px 40px;">

    <div id="bg-top">
        <div class="video-background" style="margin-top: -20px;">
            <div class="bg">
                <img th:src="@{/resource/Grave_QR1.png}" alt="BG">
            </div>
        </div>
    </div>

    <div class="row" style="padding: 0px;margin: 1% 0px; width: 100%;">
        <ol class="breadcrumb" style="background: none; color: white; padding: 0; margin: 0px;">
            <li class="breadcrumb-item">
                <a class="active-2" th:href="@{/}" style="display: inline;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.90727 8.33332L9.90837 3.33222L14.9095 8.33332H14.9084V16.6667H4.90839V8.33332H4.90727ZM3.24172 9.99887L2.01104 11.2296L0.833374 10.0519L8.73086 2.1544C9.38118 1.50408 10.4356 1.50408 11.0859 2.1544L18.9834 10.0519L17.8057 11.2296L16.5751 9.99889V16.6667C16.5751 17.5871 15.8289 18.3333 14.9084 18.3333H4.90839C3.98791 18.3333 3.24172 17.5871 3.24172 16.6667V9.99887Z" fill="#FFF"/>
                    </svg>
                    <p style="color: #FFF; display: inline; cursor: pointer;">হোম</p>
<!--                    color: #1175BD;-->
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9226 3.92259L12.7441 2.74408L5.48817 10L12.7441 17.2559L13.9226 16.0774L7.8452 10L13.9226 3.92259Z" fill="#FFF"/>
                </svg>
                <a class="active-2" href="#" style="display: inline;">
                    <p style="color: #FFF; display: inline; cursor: pointer;">কবর অনুসন্ধান</p>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9226 3.92259L12.7441 2.74408L5.48817 10L12.7441 17.2559L13.9226 16.0774L7.8452 10L13.9226 3.92259Z" fill="#828282"/>
                </svg>

                <p style="color: #828282; display: inline; margin: 0px;">কবরের বিস্তারিত</p>

            </li>

        </ol>
    </div>

  <div class="row col-md-12"
       style="width: 100%; background: #FFF; border-radius: 20px; padding: 30px 20px;
       margin-left: 0.2%; height: 100%;">
    <div style="width: 100%; padding: 0px 2%;">
      <p style="color: #205F8B; font-size: 30px; font-style: normal; font-weight: 500;
          line-height: normal; align-content: center; text-align: center; padding: 0px;
          display: flex;
          align-items: center;">
          কবরের বিস্তারিত
      </p>
    </div>
    <div class="col-md-4" style="padding-right: 20px;">
    <!-- First Header Card -->
      <div class="card"
           style="padding-top: 0px; padding-left: 20px; padding-right: 0px; padding-bottom: 20px;
           border: none; background: #FFF; height: 100%;">
        <div class="row card-body"
               style="border-radius: 10px; background: #F3F3F3;
                    display: flex;
                    padding: 30px 0px 20px 15px;;
                    align-items: flex-start;
                    font-size: calc(5.09px + 6 * ((100vw - 400px) / 680));
                    gap: 20px;">
            <div class="col-md-4"
                 style="display: flex; flex-direction: column; width: 100%; padding: 0px;">
              <div class="col">
                  <div class="form-group">
                      <label >মেমো নম্বর</label>
                      <p th:text="${data.Memo_no == null OR data.Memo_no == ''} ? 'N/A' : ${data.Memo_no}"></p>
                  </div>
              </div>
              <div class="col">
                 <div class="form-group">
                     <label >কবর নম্বর</label>
                     <p th:text="${data.Grave_no == null OR data.Grave_no == ''} ? 'N/A' : ${data.Grave_no}"></p>

                 </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label >কবরের সারি</label>
                      <p th:text="${data.Grave_lane == null OR data.Grave_lane == ''} ? 'N/A' : ${data.Grave_lane}"></p>
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label>কবরের ব্লক</label>
                      <p th:text="${data.Grave_block == null OR data.Grave_block == ''} ? 'N/A' : ${data.Grave_block}"></p>
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                    <label >কবরের জোন</label>
                      <p th:text="${data.Grave_zone == null OR data.Grave_zone == ''} ? 'N/A' : ${data.Grave_zone}"></p>
                  </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label >মৃত্যুর তারিখ</label>
                      <p th:text="${data.Dod} ? ${#temporals.format(data.Dod, 'dd-MM-yyyy')} : 'N/A'"></p>
                  </div>
              </div>

            </div>

            <div class="col-md-7" style="display: flex; flex-direction: column;
            width: 100%; padding: 0px; overflow: hide;">

                <div class="col" style="overflow: hide;">
                    <div class="form-group">
                        <label >দাফনের তারিখ</label>
                        <p th:text="${data.Bur_date} ? ${#temporals.format(data.Bur_date, 'dd-MM-yyyy')} : 'N/A'"></p>
                    </div>
                </div>
              <div class="col">
                <div class="form-group">
                    <label >মৃত ব্যক্তির নাম</label>
                    <p th:text="${data.Dec_name == null OR data.Dec_name == ''} ? 'N/A' : ${data.Dec_name}"></p>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label>স্বামী/স্ত্রীর নাম</label>
                    <p th:text="${data.Spouse == null OR data.Spouse == ''} ? 'N/A' : ${data.Spouse}"></p>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label >পিতার নাম</label>
                    <p th:text="${data.Father == null OR data.Father == ''} ? 'N/A' : ${data.Father}"></p>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label >মাতার নাম</label>
                    <p th:text="${data.Mother == null OR data.Mother == ''} ? 'N/A' : ${data.Mother}"></p>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label >ঠিকানা</label>
                    <p th:text="${data.Address == null OR data.Address == ''} ? 'N/A' : ${data.Address}"></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-8" style="padding-left: 0px;">
        <!-- Second Column with Card -->
        <div class="card"
             style="padding-top: 0px; padding-left: 20px; padding-right: 0px;
             padding-bottom: 20px; border: none; background: #FFF; height: 100%;">
          <div class="card-body"
               style="border-radius: 10px;
                    display: flex;
                    padding: 0px;
                    align-items: flex-start;
                    gap: 20px;
                    border: 1px solid #F3F3F3;">
            <!-- Content for the second card -->
              <div id="map"></div>
          </div>
        </div>
     </div>

  </div>



</main><!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="../../assets/js/vendor/popper.min.js"></script>-->
<!--<script src="../../dist/js/bootstrap.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.11.8/js/jquery.dataTables.min.js"></script>-->

<script>
        function GetGraveBycode(id){
            const features = gravedata.features;
            return features.filter(
                function(grave){
                    return grave.properties.Grave_ID == id
                }
            );
        }

        var found = GetGraveBycode('[[${data.Grave_no}]]');

        //create map object in map div with co-orrdinate and zoom level
        var map = L.map('map', {
  fullscreenControl: true,
  fullscreenControlOptions: {
    position: 'topleft'
  }
}).setView([found[0].properties.Y , found[0].properties.X], 21);

        //set map view as tile layer
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 70, // Set the maximum zoom level you want to allow
            minZoom: 1, // Set a minimum zoom level
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);


        //set marker
        var marker = L.marker([found[0].properties.Y, found[0].properties.X]).addTo(map);
        marker.bindPopup("<b>কবর নম্বরঃ "+found[0].properties.Grave_ID+"<br><b>নাম: "+'[[${data.Dec_name}]]'+"</b>").openPopup();

        //set color of the polygon
        function getColor(d) {
            //return d = "0220139" ? '#800026' : '#FFFF00';
            return  d == "Yes" ? '#52c755' : '#ff0f0f';
        }

        //set the style of the polygon
        function style(feature) {
            return {
               //  fillColor: getColor(feature.properties.Grave_ID),
               //  fillColor: (feature.properties.Grave_ID == "0220139") ? '#52c755' : '#ff0f0f',
               fillColor: getColor(feature.properties.Available),
               weight: 2,
               opacity: 1,
               color: 'white',
               dashArray: '3',
               fillOpacity: 0.7
            };
         }

        //set the layer style
        function highlightFeature(e) {
            var layer = e.target;
            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });
            layer.bringToFront();
            info.update(layer.feature.properties);
        }

         //reset the highlight
         function resetHighlight(e) {
             gravedata.resetStyle(e.target);
             info.update();
         }

         //set the zoom feature
         function zoomToFeature(e) {
             map.fitBounds(e.target.getBounds());
         }

         //set the feature on mouse hover
         function onEachFeature(feature, layer) {
             layer.on({
                 // mouseover: highlightFeature,
                 mouseout: resetHighlight,
                 //click: zoomToFeature,
                 click: highlightFeature
             });
         }

         var roaddata=L.geoJSON(roaddata).addTo(map)
         var gravedata=L.geoJson(gravedata, {style: style, onEachFeature: onEachFeature}).addTo(map);

         var info = L.control();
         info.onAdd = function (map) {
             this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
             this.update();
             return this._div;
         };

         // method that we will use to update the control based on feature properties passed
         info.update = function (props) {
             this._div.innerHTML = '<h4>কবরের বিস্তারিত</h4>' +  (props ?
                 '<b>কবর নম্বর:</b> ' + props.Grave_ID + '<br\> <b>ব্লক:</b>' + props.Block + '<br\> <b>লেন:</b>' + props.Lane
                 : 'কবর নির্বাচন করুন');
         };
         info.addTo(map);

         var gravedata=L.geoJSON(gravedata).addTo(map)

</script>



</body>
</html>