<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/plugins/HomeScreen/main.css}" rel="stylesheet">
    <title></title>
</head>
<body>
<div th:fragment="navbar" style="padding: 0px;">
    <nav class="navbar navbar-dark bg-light fixed-top">
        <div class="row col-md-12" style="display: flex; align-items: center; padding: 18px;">
            <div class="col-md-3">
                <img th:src="@{/resource/icon.png}" alt="Back Button Logo"
                     style="margin-right: 10px; width: 20px; height: 20px; padding: 3.29px 7.29px 3.29px 6.59px; border-radius: 3px; background: #1175BD;">
                <p style="display: inline; font-family: Inter; font-weight: 400; letter-spacing: 0em; text-align: left; font-size: 16px;">
                    পূর্ববর্তী পেজে যান
                </p>
            </div>

            <div class="col-md-1" style="margin-right:60px;">

            </div>


            <div class="col-md-4" style="display: flex; justify-content: center; align-items: center; gap:15px;">
                <img th:src="@{/resource/Group7241.png}" alt="Your Logo" width="34" height="34">
                <p style="color: #205F8B;
                        font-family: Baloo Da 2;
                        font-size: 22px;
                        font-weight: 700; margin: 0px;">
                    কবরস্থান ব্যবস্থাপনা সিস্টেম
                </p>
            </div>
        </div>
    </nav>
</div>
</body>
</html>