<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    &lt;!&ndash; icheck bootstrap &ndash;&gt;
    <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    &lt;!&ndash; Theme style &ndash;&gt;
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link crossorigin rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100;200;300;400;500;600;700&display=swap}">
  -->
    <style>
        @media screen and (min-width: 1200px) {
          .container{
                   max-width:1925px;
                }
        }
        .container{
                    margin-left:0;
                    margin-right:0;
                }


    </style>
</head>
<body>
<div th:fragment="navbar">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg static-top" style="background-color:#FFFFFF">
        <div class="container">
            <a class="navbar-brand" href="/" style="color:white; display: flex;">
                <div style="padding-top:5px;">
                    <img th:src="@{/Images/bd_logo.png}" style="width:50px; margin-right:10px"/>
                </div>
                <div>
        <span>
            <p style="margin-top:5px; margin-bottom:0"><b style="color:var(--primary-color); font-size:20px">HOSPITALS & CLINICS</b></p>
            <p style="color:black; font-size:14px; margin-bottom:0">Section Concern for Secondary & Tertiary level Hospital</p>
        </span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>

            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img" th:text="${appUserDto.username}"></span>
                        <i class="fas fa-user-circle" style="color:grey; font-size:180%; vertical-align:middle"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="module.menuClick('home')">Home</a>
                        <a class="dropdown-item" href="#" onclick="module.menuClick('profile')">Profile</a>
                        <a class="dropdown-item" th:href="@{/web}">Logout</a>
                    </div>
                </li>
            </ul>

            <form id="menuForm" name="menuForm" method="post"
                  th:action="@{/web/home}"></form>

        </div>
    </nav>
</div>

</body>
</html>